html,
body,
#root {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  background-color: #FFFF;
}

#nav_title {
  color: #fff;
}

footer {
  display: flex;
  flex: auto;
  text-align: center;
  width: auto;
  position: fixed;
  background-color: #FFFF;
}

.word {
  text-decoration: none;
  color: #FFFF;
}

.word:hover {
  color: #d309e6;
}

.NavBar {
  background-Color: #7B2CBF;
}

#nosotros,
#clientes,
#pyp,
#politica,
#contacto {
  color: #FFFF;
}

#title_footer {
  color: #FFFF;
}

#text_footer {
  color: #FFFF;
}

.word_title {
  color: #FFFF;
}

.word_copyright {
  color: #FFFF;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}