#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #FFFF;
}

#nav_title {
  color: #fff;
}

footer {
  display: flex;
  flex: auto;
  text-align: center;
  width: auto;
  position: fixed;
  background-color: #FFFF;
}

.word {
  text-decoration: none;
  color: #FFFF;
}

.word:hover {
  color: #d309e6;
}

.NavBar {
  background-Color: #7B2CBF;
}

#nosotros,
#clientes,
#pyp,
#politica,
#contacto {
  color: #FFFF;
}

#title_footer {
  color: #FFFF;
}

#text_footer {
  color: #FFFF;
}

.word_title {
  color: #FFFF;
}

.word_copyright {
  color: #FFFF;
}

.social-icon-footer {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.social-icon-footer:hover {
  transform: translateY(-5px) scale(1.1);
  background-position: 1 !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}


.phone-hover:hover {
  color: #1877F2 !important;
}

.envelope-hover:hover {
  color: #FF1493 !important;
}

.wa-hover:hover {
  color: #25D366 !important;
}